<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Superhero Sightings</title>

    <style>
        img {
            width: 200px;
            height: 400px;
        }
    </style>
</head>

<body>
    <!-- Main Body of Page -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/heroes">Hero <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/organizations">Organization</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/locations">Location</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sightings">Sighting</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Search
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/heroesByLocation">Hero(es) By Location</a>
                        <a class="dropdown-item" href="/locationsByHero">Location(s) By Hero</a>
                        <a class="dropdown-item" href="/sightingsByDate">Sighting(s) By Date</a>
                        <a class="dropdown-item" href="/heroesByOrganization">Hero(es) By Organization</a>
                        <a class="dropdown-item" href="/organizationsByHero">Organization(s) By Hero</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row m-4">
            <div class="col text-center border border-dark">
                <h1><a href="/" class="test-dark">Hero Manager</a></h1>
            </div>
        </div>
        <!-- 
        <div class="row m-4 border border-dark">
            <div class="col-6 text-right"><strong>ID</strong></div>
            <div class="col-6 text-left">
                <span th:text="${hero.id}">display id</span>
            </div>

            <div class="col-6 text-right"><strong>Name</strong></div>
            <div class="col-6 text-left">
                <span th:text="${hero.name}">display name</span>
            </div>

            <div class="col-6 text-right"><strong>Type</strong></div>
            <div class="col-6 text-left">
                <span th:text="${hero.heroType}">display hero type</span>
            </div>

            <div class="col-6 text-right"><strong>Super Power</strong></div>
            <div class="col-6 text-left">
                <span th:text="${hero.superPower}">display super power</span>
            </div>

            <div class="col-6 text-right"><strong>Description</strong></div>
            <div class="col-6 text-left">
                <span th:text="${hero.description}">display description</span>
            </div>

            <div class="col-6 text-right"><strong>Organizations</strong></div>
            <div class="col-6 text-left">
                <span th:each="organization : ${hero.organizations}">
                    <span th:text="${organization.name}">display organizations</span>
                    <a href="#" th:href="@{/organizationDetail(id=${organization.id})}">Details</a><br>
                </span>
            </div>
        </div> -->

        <div class="row m-4 border border-dark">
            <div class="col-6 text-center">
                <img th:src="${hero.imgUrl}" alt="" class="img-thumbnail">
            </div>
            <div class="col-6 row">
                <div class="col-6 text-right"><strong>ID</strong></div>
                <div class="col-6 text-left">
                    <span th:text="${hero.id}">display id</span>
                </div>

                <div class="col-6 text-right"><strong>Name</strong></div>
                <div class="col-6 text-left">
                    <span th:text="${hero.name}">display name</span>
                </div>

                <div class="col-6 text-right"><strong>Type</strong></div>
                <div class="col-6 text-left">
                    <span th:text="${hero.heroType}">display hero type</span>
                </div>

                <div class="col-6 text-right"><strong>Super Power</strong></div>
                <div class="col-6 text-left">
                    <span th:text="${hero.superPower}">display super power</span>
                </div>

                <div class="col-6 text-right"><strong>Description</strong></div>
                <div class="col-6 text-left">
                    <span th:text="${hero.description}">display description</span>
                </div>

                <div class="col-6 text-right"><strong>Organizations</strong></div>
                <div class="col-6 text-left">
                    <span th:each="organization : ${hero.organizations}">
                        <span th:text="${organization.name}">display organizations</span>
                        <a href="#" th:href="@{/organizationDetail(id=${organization.id})}">Details</a><br>
                    </span>
                </div>
            </div>

        </div>
    </div>




    <!-- End main body -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>